/* * {
  border: 1px solid white;
} */
body{
  background-color: rgb(62, 60, 66)
}
.container {
 display: flex;
 flex-direction: column;
 height:100vh;
 background-color: rgb(62, 60, 66)
}

.box1{
  display: flex;
  text-align: center;

}
.box101{
  flex:3
}

.box102{
  flex:3
}


.gamebox {
display: grid;
height:58%;
width: 100vw;
height: 100vh;
justify-content: center;
align-content: center;
grid-template-columns: repeat(3,auto);

}

.cell {
  width: 100px;
  height:100px;
  background-color: white;
  border:2px black solid;

}

#xBox{
  flex: 3;

}
#playBox{
  flex: 3;
}
#oBox{
  flex: 3;
}

.box3{
 display: flex;
 height:15%;
 padding:30px;
}
.player1{
  flex:2;
  text-align: center;
}
.player2{
  flex:2;
  text-align: center;

}
.img {


}
#player1 {
  height: 40px;
  border-radius: 6px;
  text-align: center;
}
#player2 {
  height: 40px;
  border-radius: 6px;
  text-align: center;
}
